@page
@model IndexModel
@{
    ViewData["Title"] = "KT AZ-500 홈페이지";
}

<div class="text-center">
    <h1 class="display-4">KT AZ-500 실습에 오신 것을 환영합니다!!!</h1>
    <p>구매하고자 하는 상뭎을 찾아보세요!</p>
    <br/>
    <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/null/external-koala-animal-flaticons-lineal-color-flat-icons-2.png" width="64" alt="Koala" />
    <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/null/external-platypus-animal-flaticons-lineal-color-flat-icons-2.png" width="64" alt="Platypus" />
    <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/null/external-snake-animal-flaticons-lineal-color-flat-icons.png" width="64" alt="Snake" />
</div>
