@page
@model ProductsModel
@{
    ViewData["Title"] = "KT AZ-500 예제 웹 쇼핑 상품들";
}
<h1>@ViewData["Title"]</h1>

<p>저희 제품을 확인하러 오세요! </p>
<br/>
<ul class="list-group">
    <li class="list-group-item"><img src="/images/kangaroo.jpg" width="100"/> 캉가루 상품 </li>
    <li class="list-group-item"><img src="/images/koala.jpg" width="100"/> 코알라 상품 </li>
    <li class="list-group-item"><img src="/images/spider.jpg" width="100"/> 거미 상품 </li>
</ul>

